:root {
  --background-color: #f5f5f5;
  --color: #020202;
}

.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.moviedetail {
  display: flex;
  justify-content: center;
  height: 800px;
}

.informations {
  display: flex;
  padding: 35px;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: var(--background-color); */
}

.informations h1 {
  /* background-color: var(--background-color); */
  color: var(--color);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.informations ul {
  padding: 0;
  /* background-color: var(--background-color); */
  color: var(--color);
}

.informations h2 {
  /* background-color: var(--background-color); */
  color: var(--color);
}

.informations h3 {
  /* background-color: var(--background-color); */
  color: var(--color);
}

.informations p {
  width: 450px;
  font-size: 25px;
  /* background-color: var(--background-color); */
  color: var(--color);
  font-family: "Roboto Condensed", sans-serif;
}
