.loading {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.moviedetail {
  display: flex;
  margin: 35px 0 0 45px;
  height: 800px;
}

.informations {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0e0e0e;
}

.informations h1 {
  background-color: #0e0e0e;
}

.informations ul {
  padding: 0;
  background-color: #0e0e0e;
}

.informations h2 {
  background-color: #0e0e0e;
}

.informations h3 {
  background-color: #0e0e0e;
}

.informations p {
  width: 450px;
  background-color: #0e0e0e;
}
