:root {
  --background-color: #f5f5f5;
  --color: #020202;
  --margin: 12px;
}
.movielist {
  background-color: var(--background-color);
  width: 700px;
  margin: 35px;
  padding: 5px;
  box-shadow: 10px 5px 5px #080808;
}

.movielist div {
  display: flex;
  background-color: var(--background-color);
  color: var(--color);
  margin: var(--margin);
}

.movielist img {
  box-shadow: 7px 3px 3px #5a5a5a;
}

.movielist_info {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
}

.movielist_info h1 {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0 0 0 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.movielist_info p {
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  padding: 15px;
  box-shadow: 5px 5px 5px #000000;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.star {
  margin: 10px 0 0 30px;
}

.movielist:hover {
  transform: scale3d(1.01, 1.01, 1);
  transition: 0.2s;
}
