.Navbar {
  display: flex;
  background-color: #020202;
  position: sticky;
  z-index: 1;
  padding: 20px 0;
  top: 0;
  opacity: 95%;
}

.home_title {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 0 10%;
}

.title_red {
  color: #c50000;
}
