.Navbar {
  display: flex;
  background-color: #161616;
  position: sticky;
  padding: 10px;
  top: 0;
  opacity: 90%;
}
.home_title {
  text-decoration: none;
  background-color: #161616;
  padding: 10px;
  font-size: 40px;
  font-weight: 600;
}
