:root {
  --background-color-suggestion: #292929;
  --color-suggestion: #e4e4e4;
}

.suggest {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-suggestion);
}
.suggest h1 {
  color: var(--color-suggestion);
  margin: 2%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.suggestion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 2% 2% 2%;
}

.suggestionlist:hover {
  transform: scale3d(1.1, 1.1, 1);
  transition: 0.2s;
}

.suggestionlist {
  display: flex;
  flex-direction: column;
  color: var(--color-suggestion);
  width: 350px;
}

.suggestionlist h1 {
  color: var(--color-suggestion);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.suggestionlist h1 a {
  background-color: var(--background-color-suggestion);
  color: var(--color-suggestion);
}
